#header_container{
    background-color: white;
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 999999;
    top:0;
}
#header_title{
    position: relative;
}
.icon-social-media{
    position: absolute;
    left: 80%;
    margin-top: 2%;
}
.img_header{
    position: absolute;
    left: 10%;
    top: 10%
}
#container_heading{
    width: 50%;
    height: 50px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Libre Baskerville', serif;
    position: absolute;
    left: 25%;
    margin-top: 2%;
}

#container_heading div {
    transition: all 0.1s;
}

#container_heading div:hover {
    cursor: pointer;
}
.header_collection{
    background-color: rgb(49, 43, 43);
    width: 100%;
    height:0px;
    position: fixed;
    z-index: 9999;
    top:100px;
    display: flex;
    justify-content:space-around;
    transition: all 0.8s;
    overflow: hidden;
}
.header_collection_item{
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.search_bar{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom:50px;
    height: 100%;
}

.search_bar input[type=text] {
    padding: 6px;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    border: 1px black solid;
    width: 100%;
    border-radius: 0px;
}

.search_bar>div {
    display: flex;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 60%;
}

#a_search {
    width: 60px;
    text-decoration: none;
}

.search_bar>div>#search_icon {
    position: absolute;
    width:100%;
    right: 0;
}

#search_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: silver;
    height: 100% !important;
}


.smaller-content-recipes-img{
    padding: 30px;
    width: 100%;
    border-radius: 20px;

}

.smaller-content-recipes-img>img{
    width: 100%;
}

.smaller-content-recipes-fix-title{
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: black;
    font-family: 'Libra Baskerville', sans-serif;
    word-wrap: break-word;
    padding: 3px;

}


.smaller-content-recipes-fix-title>p {
    text-align: center;
}
.zoom {
    transition: transform .2s;
    margin: 0 auto;
    
}
.zoom:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.food_post_pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 50%;
}

.title {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width : 30%;
}